# SabzCity platform systemd service file

[Unit]
Description=SabzCity Platform Development Phase
Documentation=https://www.sabz.city/developers
After=network.target

[Service]
#CPUQuota=98%
#MemoryLimit=15360M
#ExecStartPre=
ExecStart=/root/sabz.city/gui-dev
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure
TimeoutSec=20
RestartSec=20

[Install]
WantedBy=multi-user.target
