# SabzCity platform systemd service file
# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=SabzCity Platform
Documentation=https://www.sabz.city/developers
After=network.target

[Service]
#CPUQuota=98%
#MemoryLimit=15360M
#ExecStartPre=
ExecStart=/root/sabz.city/sabz.city
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure
TimeoutSec=20
RestartSec=20

[Install]
WantedBy=multi-user.target
