/* For license and copyright information please see LEGAL file in repository */

[role=toolbar] {
    text-align: center;
}

.layout-grid {
    margin: 10px;
}

article>header {
    text-align: center;
}

section>header {
    text-align: center;
}

section>div {
    margin: 4px;
}