/* For license and copyright information please see LEGAL file in repository */

[role=toolbar] {
    text-align: center;
}

.layout-grid {
    text-align: center;
    /* margin: 10px; */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr>td:first-child {
    background-color: var(--color--surface--active);
}

table tr>td:last-child {
    background-color: var(--color--primary--secondary-active);
}

@media all and (max-width:768px) {
    table tr {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        width: 100%;
        overflow: hidden;
    }
    table tr>td:first-child, table tr>th:first-child {
        flex: 5%;
    }
    table tr>td:nth-child(2), table tr>th:nth-child(2) {
        flex: 92%;
        overflow: hidden;
    }
    table tr>td:nth-child(n+3):nth-child(-n+5), table tr>th:nth-child(n+3):nth-child(-n+5) {
        flex: 32%;
    }
    table tr>td:last-child, table tr>th:last-child {
        display: table-cell;
        flex: 100%;
    }
}

caption {
    color: var(--color--primary);
}

thead {
    background-color: var(--color--primary);
    Color: var(--color--primary--primary-on);
}

tbody {
    border-collapse: separate;
    /* border-spacing: 0 15px; */
}

tfoot {
    background-color: var(--color--secondary);
    Color: var(--color--secondary--primary-on);
}

th, td {
    /* width: 50px; */
    text-align: center;
    border-bottom: 1px solid black;
    padding: 2px
}

dialog.bottom {
    position: relative;
}

dialog#suggestRegisterUser, dialog#getLastApproved {
    position: fixed;
    max-width: 600px;
    text-align: center;
    margin: 1% auto;
    left: 0;
    right: 0;
    top: 0;
}

#lastApproveBuyerNumber, #lastApprovePayablePrice {
    color: var(--color--accent--dark);
}