/* For license and copyright information please see LEGAL file in repository */

header {
    text-align: center;
}

[role=toolbar] {
    text-align: center;
}

.layout-grid {
    text-align: center;
}