/* For license and copyright information please see LEGAL file in repository */

.layout-grid {
    text-align: center;
    margin: 10px;
}

p {
    overflow: hidden;
}

article h1 {
    white-space: unset;
}

input {
    height: unset;
}