/* For license and copyright information please see LEGAL file in repository */
article h1{
    margin: 1rem 0.5rem;
    font-weight: normal;
}
article section{
    margin: 0 0.5rem;
    font-family: var(--typography--secondary-font-family);
    color: var(--color--primary--disabled-on);
}
article img {
    max-width: 100%;
    height: 180px;
}
article footer{
    margin-top: 12px;
}
article>footer button:last-child {
    margin-left: auto;
    margin-right: 0
}

/**
 * Tablet
 */
@media (min-width: 600px) and (max-width: 839px){
    article img {
        height: 150px;
    }
    .layout-grid {
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .layout-grid>.span-2 {
        grid-column-end: span 3;
    }
}

/**
 * Desktop
 */

@media (min-width: 840px){
    article img{
        height: 180px;
    }
    .layout-grid>.span-2 {
        grid-column-end: span 3;
    }
}